In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_excel("D:\\Data_Science\\Datasets\\Coffe_store_sales\\Coffe_sales.xlsx")
df.head()

,date,datetime,hour_of_day,cash_type,card,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort
0,2024-03-01,2024-03-01 10:15:50.520,10,card,ANON-0000-0000-0001,38.7,Latte,Morning,Fri,Mar,5,3
1,2024-03-01,2024-03-01 12:19:22.539,12,card,ANON-0000-0000-0002,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3
2,2024-03-01,2024-03-01 12:20:18.089,12,card,ANON-0000-0000-0002,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3
3,2024-03-01,2024-03-01 13:46:33.006,13,card,ANON-0000-0000-0003,28.9,Americano,Afternoon,Fri,Mar,5,3
4,2024-03-01,2024-03-01 13:48:14.626,13,card,ANON-0000-0000-0004,38.7,Latte,Afternoon,Fri,Mar,5,3

In [3]:
# check the shape of the data
df.shape

(3636, 12)

In [4]:
#check the datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3636 entries, 0 to 3635
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3636 non-null   datetime64[ns]
 1   datetime     3636 non-null   datetime64[ns]
 2   hour_of_day  3636 non-null   int64
 3   cash_type    3636 non-null   object
 4   card         3547 non-null   object
 5   money        3636 non-null   float64
 6   coffee_name  3636 non-null   object
 7   Time_of_Day  3636 non-null   object
 8   Weekday      3636 non-null   object
 9   Month_name   3636 non-null   object
 10  Weekdaysort  3636 non-null   int64
 11  Monthsort    3636 non-null   int64
dtypes: datetime64[ns](2), float64(1), int64(3), object(6)
memory usage: 341.0+ KB

In [5]:
#check the null value
df.isnull().sum()

date            0
datetime        0
hour_of_day     0
cash_type       0
card           89
money           0
coffee_name     0
Time_of_Day     0
Weekday         0
Month_name      0
Weekdaysort     0
Monthsort       0
dtype: int64

In [6]:
# check the data type
df.dtypes

date           datetime64[ns]
datetime       datetime64[ns]
hour_of_day             int64
cash_type              object
card                   object
money                 float64
coffee_name            object
Time_of_Day            object
Weekday                object
Month_name             object
Weekdaysort             int64
Monthsort               int64
dtype: object

In [7]:
date_time_col = [col for col in df.columns if df[col].dtype == 'datetime64[ns]']
print(date_time_col)

['date', 'datetime']

In [8]:
# check the variesties of the coffee 
df['coffee_name'].unique()

array(['Latte', 'Hot Chocolate', 'Americano', 'Americano with Milk',
       'Cocoa', 'Cortado', 'Espresso', 'Cappuccino'], dtype=object)

In [9]:
#check the money generated by each coffie type
coffie_name = df.groupby('coffee_name')['money'].sum()
print(coffie_name.sort_values(ascending=False))

coffee_name
Latte                  27866.30
Americano with Milk    25269.12
Cappuccino             18034.14
Americano              15062.26
Hot Chocolate          10172.46
Cocoa                   8678.16
Cortado                 7534.86
Espresso                2814.28
Name: money, dtype: float64

In [10]:
#check the larget revenue genearator coffie type
print(f"Highest revenue grosser coffie type is :'{coffie_name.idxmax()}'")

Highest revenue grosser coffie type is :'Latte'

In [11]:
# check the most popular coffee
most_popular_coffee = df['coffee_name'].value_counts()
print(most_popular_coffee)
print('\n'f'Most popular coffee is "{most_popular_coffee.idxmax()}"')

Americano with Milk    824
Latte                  782
Americano              578
Cappuccino             501
Cortado                292
Hot Chocolate          282
Cocoa                  243
Espresso               134
Name: coffee_name, dtype: int64

Most popular coffee is "Americano with Milk"

In [12]:
# check the unique value Time_of_Day
df['Time_of_Day'].unique()

array(['Morning', 'Afternoon', 'Night'], dtype=object)

In [13]:
#check the value counts on each time of the day
day_time = df['Time_of_Day'].value_counts()
print(day_time)
print("\n""----------------------------------------")
print('\n'f"Highest time of the day in which people consume coffe is : '{day_time.idxmax()}'")

Afternoon    1231
Morning      1221
Night        1184
Name: Time_of_Day, dtype: int64

----------------------------------------

Highest time of the day in which people consume coffe is : 'Afternoon'

In [14]:
# highest grossing month 
high_month = df.groupby('Month_name')['money'].sum()
print(f"Highest grossing month is : {high_month.idxmax()}")

Highest grossing month is : Mar

In [15]:
# check the revenue genearion in the time of days
money_day_time = df.groupby('Time_of_Day')['money'].sum()
print(money_day_time.sort_values(ascending=False))

Time_of_Day
Night        39033.34
Afternoon    39018.04
Morning      37380.20
Name: money, dtype: float64

We can clearly see the "Night" is the highest revenue time of the day.

In [16]:
#check highest consuming coffie each month

coffie_per_month = df.groupby(['Month_name','coffee_name'])['money'].sum().reset_index()

# For each month, find the coffee_type(s) with the highest consumption
def get_highest_consumption(group):
    max_value = group['money'].max()
    return group[group['money'] == max_value]

result = coffie_per_month.groupby('Month_name').apply(get_highest_consumption).reset_index(drop=True)

print("Highest consuming coffee type(s) per month:")
print('\n')
print(result)

Highest consuming coffee type(s) per month:


   Month_name          coffee_name    money
0         Apr           Cappuccino  1659.44
1         Aug  Americano with Milk  2010.24
2         Dec  Americano with Milk  1759.02
3         Feb            Americano  3037.32
4         Jan  Americano with Milk  1604.72
5         Jul  Americano with Milk  1863.80
6         Jun  Americano with Milk  2268.12
7         Mar                Latte  3912.82
8         May                Latte  2198.00
9         Nov                Latte  2431.68
10        Oct                Latte  4291.20
11        Sep                Latte  3114.48

In [17]:
#check highest consuming coffie each month per consumption
coffee_per_month_freq = df.groupby('Month_name')['coffee_name'].max()
print(coffee_per_month_freq)

Month_name
Apr    Latte
Aug    Latte
Dec    Latte
Feb    Latte
Jan    Latte
Jul    Latte
Jun    Latte
Mar    Latte
May    Latte
Nov    Latte
Oct    Latte
Sep    Latte
Name: coffee_name, dtype: object

In [18]:
#check the highest consumable item in each day time 
high_item_frq = df.groupby(['Time_of_Day', 'coffee_name'])['money'].sum().reset_index()

def high_item (group):
    max_item = group['money'].max()
    return group[group['money'] == max_item]

high_item_per_day = high_item_frq.groupby('Time_of_Day').apply(get_highest_consumption).reset_index(drop=True)

print("Highest consuming coffee type(s) each day time:")
print('\n'"-----------------------------------------------")
high_day_time_item_sorted = high_item_per_day.sort_values(by = 'money', ascending=False)
print(high_day_time_item_sorted)

Highest consuming coffee type(s) each day time:

-----------------------------------------------
  Time_of_Day          coffee_name     money
1     Morning  Americano with Milk  10199.52
2       Night                Latte   9772.02
0   Afternoon                Latte   9691.10

In [19]:
# Check the total sales
total_sales = df['money'].sum()
print(f"Total sale is : $ {total_sales}")

Total sale is : $ 115431.58

In [20]:
# check the average transaction
avg_trans = total_sales/len(df['money'])

print(f"Average transaction is : $ {avg_trans:.3f}")

Average transaction is : $ 31.747

In [21]:
# sales trend over a month

sales_per_month = df.groupby('Month_name')['money'].sum()
print(sales_per_month.sort_values(ascending=False))

Month_name
Mar    17036.64
Oct    13891.16
Feb    13215.48
Sep     9988.64
May     9063.42
Nov     8590.54
Dec     8237.74
Jun     7758.76
Aug     7613.84
Jul     6915.94
Apr     6720.56
Jan     6398.86
Name: money, dtype: float64

In [22]:
# which day of the month has maximum sales
# First convert the date column to datetime
df['date'] = pd.to_datetime(df['date'])
# then Extract the day of the month
df['day'] = df['date'].dt.day

daily_sales = df.groupby('date')['money'].sum()

# Find the day with maximum sales and the total sales on that day
max_sales_day = daily_sales.idxmax()
max_sales = daily_sales.max()


print(f"Day of month with maximum sales: {max_sales_day}, Sales: $ {max_sales:1f}")

Day of month with maximum sales: 2024-10-11 00:00:00, Sales: $ 836.660000